header{
    padding-bottom: 10px;
}
#logo_low{
    padding-left: 10px;
}
#logo_chile{
    float: right;
    padding-top: 50px;
}
.top-bar{
    background-color: #00916F;
}
.top-bar a{
    font-size: 12px;
    color: white;
    text-transform: uppercase;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    background: #00916F;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: white;
    color: #003366;
}
.barra2{
    background-color: #003366;
    padding: 5px 0 5px 10px;
    color: white;
    font-size: 10px;
}
.contenido{
    background-image: url(../img/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.panel{
    background: rgba(255, 255, 255, .75);
}
.col-izq{
    background-color: #00916F;
    color: white;
    text-align: center;
    padding: 0 0;
}
.col-der{
    background-color: white;
    font-size: 12px;
    padding: 7px 10px;
    color: #00916F;
}
.button{
    margin: 0 0 0rem;
    background-color:  #00916F;
}
button:hover, button:focus, .button:hover, .button:focus {
    background-color: white;
    color: #00916F;
    border: solid 1px #00916F;
}

.separador{
    padding: 5px 0;
}
.reveal-modal, dialog {
    border: solid 10px #999;
    box-shadow: 0 0 10px rgba(255,0,0,.9);
    color: #003366;
    font-size: 8px;
}
.lead{
    text-transform: uppercase;
    color: #00916F;
    font-weight: bold;
    font-size: 12px;
}
.titulo-modal{
    color: #003366;
}
.tabs dd.active a, .tabs .tab-title.active a {
    background-color: #003366;
    color: #ffffff;
}
.tabs dd>a, .tabs .tab-title>a {
    background-color: #e1e1e1;
    color: white;
    font-size: 12px;
}
.tabs-content>.content {
    padding: 0;
}
.barra-tab{
    background-color: white;
    font-size: 12px;
    padding: 5px 10px;
    font-style: italic;
    color: #00916F;
}
form{
    padding: 20px 10px;
}
label{
    color: white;
}
.fondo-form{
    background-color:  #00916F;
}
.tabs dd>a:hover, .tabs .tab-title>a:hover {
    background-color: #003366;
}
table{
    border: 0px;
}
table thead {
    background: #003366;
}
table thead tr th, table thead tr td {
    color: white;
    font-size: 11px;
    text-align: center;
}
table tr th, table tr td {
    font-size: 0.7rem;
    color: #333;
    text-align: center;
}
button.info, .button.info, button.success, .button.success {
    background-color: #003366;
    border-color: #003366;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
button.info:hover, button.info:focus, .button.info:hover, .button.info:focus, button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
    background-color: white;
    border-color: #003366;
    text-transform: uppercase;
    color: #003366;
}
.form-derecha{
    padding: 70px 0 0 10px;
    font-size: 12px;
    font-style: italic;
}
    font-size: 0.65rem;
    color: #333;
    text-align: center;
}
